<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
		<% include ./elements/head%>
	</head>
	<body>
		<% include ./elements/header%>
	
			<section>
				<%- body %>
			</section>

		<!-- start footer Area -->
		<% include ./elements/footer%>
		<!-- End footer Area -->
	</body>
	
	<% include ./elements/scripts%>
</html>