<meta charset="UTF-8">
<base href="/">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="backend/css/base.css">
<link rel="stylesheet" href="backend/css/main.css">
<link rel="stylesheet" href="backend/css/fontawesome/css/all.css">
<link rel="shortcut icon" type="image/png" href="thn.jpg"/>
<script src="/backend/scripts/jquery.min.js"></script>
<script src="/backend/scripts/ckeditor5/ckeditor.js"></script>

<title> <%= (typeof title != "undefined" ? title : "") %> </title>