*{
    margin: 0;
    padding: 0;
}

body {
    min-width: 1024px;
}

a {
    text-decoration: none
}

body,
input,
button,
option,
textarea,
label,
legend,
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font: 14px/18px Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    color: #333;
    outline: none;
    zoom: 1
}
form {
    display: inline;
}
h1 {
    float: left;
    overflow: hidden;
    font-size: 24px;
    color: #333;
    line-height: 40px;
}

body {
    background: #f0f0f0;    
}

header {
    position: absolute;
    top: 0;
    min-width: 1200px;
    background: #fff;
    width: 100%;
}

section {
    max-width: 1200px;
    width: 100%;
    min-width: 980px;
    margin: 125px auto 0px;
    overflow: hidden; 
}

footer {
    width: 100%;
    min-width: 1024px;
    margin: 30px auto auto 0;
    background: #f0f0f0;
    overflow: hidden;
    clear: both;
}

.owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer;
}

ul,ol {
    list-style-type: none;
}

a {
    color: #646464;
}


.yellowiconcolor {color:rgb(221, 221, 54);}
.grayiconcolor {color:rgb(180, 180, 180);}
.greeniconcolor {color:#F7941D;}
.whiteiconcolor {color: #fff}