<% 
	const BannerUpload  = 'upload/banners/';
    const BookUpload    = 'upload/books/';
    const linkPrefix	= `/`+systemConfig.prefixFrontend ;
%> 


    <div class="no-product">
        <i class="fas fa-times fa-3x"></i>
        <h2>Không có sản phẩm</h2>
    </div>
    
    


<style>
    section {
        margin: 140px auto 0px;
        background-color: #fff;
    }
    .no-product {
        text-align: center;
        align-items: center;
    }
    .no-product>h2{
        font-size: 40px;
        margin: 15px 10px;
    }
</style>

<script>


</script>