<div class="title-page" style="display: flex; flex-direction: column; align-items: flex-start;">
        <h1> <%= message %> </h1>
        <h2> <%= error.status %> </h2>
        <pre><%= error.stack %></pre>
</div>