<meta charset="UTF-8">
<base href="/">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="frontend/css/base.css">
<link rel="stylesheet" href="frontend/css/main.css">
<link rel="stylesheet" href="frontend/css/home.css">
<link rel="stylesheet" href="frontend/css/fontawesome/css/all.css">
<link rel="stylesheet" href="frontend/scripts/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="frontend/scripts/owlcarousel/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="frontend/scripts/lightgallery/css/lightgallery.css">
<link rel="shortcut icon" type="image/png" href="thn.jpg"/>

<script src="frontend/scripts/jquery.min.js"></script>
<script src="frontend/scripts/owlcarousel/owl.carousel.min.js"></script>
<script src="frontend/scripts/lightgallery/js/lightgallery.js"></script>

<title> <%= (typeof title != "undefined" ? title : "") %> </title>